<div class="row">
  <div class="large-12 columns">
    <h1 class="header">Tarefas</h1>    
    <hr>
  </div>
</div>

<div class="row" ng-controller="TasksCtrl">
  <div class="large-12 columns">
    <form ng-submit="createTask()">
      <input type="text" id="new-task" placeholder="Digite sua nova tarefa e tecle <Enter>" ng-model="newTask.title" autofocus>
    </form>
  </div>

  <div class="large-12 columns">
    <ul id="tasks-list" ng-show="tasks.length" ng-cloak>
      <li ng-repeat="task in tasks | orderBy:'-id'" ng-class="{done: task.done, editing: task == editedTask}">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="task.done" ng-click="updateTask(task)">
          <a href="/#/" class="delete" ng-click="destroyTask(task)">
            <%= image_tag 'delete.png' %>
          </a>
          <label ng-dblclick="editTask(task)">{{task.title}}</label>
        </div>
        <form class="edit-form" ng-submit="updateTask(task)">
          <input type="text" ng-model="task.title" todo-blur="updateTask(task)" todo-focus="task == editedTask">
        </form>
      </li>
    </ul>
  </div>

</div>
